@use "../abstracts/index" as *;

.popup {
  @include position($type: fixed, $t: 0, $l: 0);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 150;
  overflow-y: auto;
  height: 100vh;
  &[data-type="category"],
  &[data-type="Search"] {
    .box {
      margin-top: 30px;
    }
  }
  .box {
    width: 90%;
    border-radius: 20px;
    border: 1px solid $firstColor;
    background-color: $sceColor;
    opacity: 0;
    transform: translateY(30px);
    transition-duration: 1s;
  }
  &.show {
    .box {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  &[data-type="Search"],
  &[data-type="contact"],
  &[data-type="login"] {
    input,
    textarea {
      color: $firstColor;
      background-color: transparent;
      border: none;
      outline: none;
      border-radius: 20px;
      border-bottom: 1px solid $firstColor;
      &:focus {
        box-shadow: none;
      }
      &::placeholder {
        color: $firstColor;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: #f5deb3 !important;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
        box-shadow: 0 0 0px 1000px transparent inset !important;
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }
  &[data-type="Search"] {
    .alert {
      border-radius: 30px;
    }
  }
  &[data-type="contact"] {
    @include flex;
    .box {
      width: 320px;
      position: relative;
      form {
        input,
        textarea {
          border: 1px solid $firstColor;
          resize: none;
        }
      }
      i {
        @include position($t: 10px, $r: 20px);
        cursor: pointer;
      }
    }
  }

  &[data-type="login"] {
    .box1,
    .box2 {
      border: 1px solid $firstColor;
      @include position($t: 50%, $l: 50%);
      transform: translate(-50%, calc(-50% + 30px));
      opacity: 0;
      transition-duration: 1s;
      border-radius: 20px;
      width: 320px;
      form {
        input {
          border: 1px solid $firstColor;
        }
        z-index: 0;
      }
      &.show {
        transform: translate(-50%, -50%);
        opacity: 1;
        z-index: 2;
       background-color: $sceColor;
      }
      .content {
        position: relative;
        i {
          @include position($t: 10px, $r: 20px);
          cursor: pointer;
        }
      }
    }
    .box1 {
      .contact-box {
        > button {
          background-color: transparent;
          border: none;
          &:hover {
            text-shadow: 0 0 5px $firstColor;
          }
        }
      }
    }
  }
}
